<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="text text-center">
            The information about this ID is shown below:
        </h1>
        <p class “text text-center”>
            Username : {{ user.username }}
        </p>
        <p class “text text-center”>
            First name : {{ user.fname }}
        </p>
        <p class “text text-center”>
            Last name : {{ user.lname }}
        </p>
        <p class “text text-center”>
            Age : {{ user.age }}
        </p>
        <p class “text text-center”>
            City : {{ user.city }}
        </p>
        <hr>
        <button class="btn btn-success">
            Click Here
        </button>
    </div>
</body>
</html>